body {
    font-family: monospace;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5em;
    color: #333;
    letter-spacing: 0.0125em;
    line-height: 1.5;
}

section {
    margin: 1.5em 0;
}

li {
    margin: 0.5em 0;
}

a {
    color: darkcyan;
    text-decoration: none;
}

a:hover,
a:focus {
    color: darkorange;
}
